.inRoom--container{
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .inRoom--container-current-room{

    }
    .inRoom--container-change-room{

    }
}